@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Fallbacks */
  --primary: #00A651;
  --secondary: #434E96;
  --accent: #C5A059;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-outfit), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
