@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #11999E; /* Teal */
  --secondary: #C5A059; /* Gold */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-outfit), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
